{{> navbarPartial this}}

<div class="entry-page">

  {{#if results}}

  <h2>results for author "{{queryStr}}"</h2>

  {{#each results}}

  {{> entryPartial this}}

  {{/each}}


  {{else}}

  <div>
    {{#if msg}}
    <p class="message">{{msg}}</p>

    {{else}}
    <h2>No results for "{{queryStr}}"</h2>

    {{/if}}

  </div>

  {{/if}}

</div>