{{> navbarPartial this}}

<div class="entry-page">

  <div class="entrybox">
    <h2>Edit entry</h2>
    <form action="/entries/edit/{{entry._id}}" method="POST">
      <div class="form-item mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="input-area" id="title" name="title" value="{{entry.title}}" required>
      </div>
      <div class="form-item mb-3">
        <label for="entry-body" class="form-label">Write an entry or sth</label>
        <textarea class="input-area" id="entry-body" name="entryBody" rows="15" required>{{entry.entryBody}}</textarea>
      </div>
      <div class="form-item mb-3">
        <label for="tags" class="form-label">Tags</label>
        <input type="text" class="input-area" id="tags" name="tags" value="{{entry.tags}}">
      </div>
      <button class="form-item" type="submit">Save</button>
      <a href="/entries/{{entry._id}}">
        <button class="form-item" type="button">Cancel</button>
      </a>
    </form>
  </div>
</div>