{{> navbarPartial this}}

<div class="wrapper">
  <span id="greeting" class="greet"> </span><span class="username greet">{{user.username}}</span>

  <div id="quote" class="disappear"></div>

</div>

<div class="chosen-mood mood-bg disappear">
  <p>Your mood: </p>
  <p>{{user.mood}}</p>
</div>


<div class="playlist wrapper disappear">
  <p>maybe you wanna try one of these playlists:</p>
  <ul>
    {{#each playlists}}
    <li>
      <p>
        <a target="_blank" href="{{this.external_urls.spotify}}">{{this.name}}</a>
      </p>
      <p>
        <img class="playlist" src="{{this.images.0.url}}" alt="">
      </p>
    </li>
    {{/each}}
  </ul>
</div>


<script src="../js/home.js"></script>

<script>

  document.onload =
    setTimeout(() => {
      document.querySelector('#quote').classList.remove('disappear');
      document.querySelector('.chosen-mood').classList.remove('disappear');
      document.querySelector('.playlist').classList.remove('disappear');
    }, 400);
</script>