{{> navbarPartial this}}


<div class="wrapper">
  {{#if results}}

  <h1>results for "{{queryStr}}"</h1>

  {{#each results}}

  <div class="entrybox">

    <h1><a href="/entries/{{this._id}}">{{this.title}}</a></h1>
    <div class="entry-date">{{dateFormat this.time "MMMM Do YYYY"}}</div>


    <div class="entry-body">
      {{splitBefore this.entryBody ../queryStr}}
      <span class="highlighted">{{../queryStr}}</span>
      {{splitAfter this.entryBody ../queryStr}}
    </div>


    {{#if this.tags}}
    <div class="tags">{{this.tags}}</div>
    {{/if}}

  </div>
  {{/each}}

  {{else}}
  <h2>No results for "{{queryStr}}"</h2>
  {{/if}}

</div>