{{> navbarPartial this}}

<div class="wrapper">

  {{#if results}}

  <h1>results for "{{queryStr}}"</h1>

  {{#each results}}

  {{> entryPartial this}}

  {{/each}}


  {{else}}

  <div>
    {{#if msg}}
    <p class="message">{{msg}}</p>

    {{else}}
    <h2>No results for "{{queryStr}}"</h2>

    {{/if}}

  </div>

  {{/if}}

</div>